<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">
<body>
<div layout:fragment="adminContent">
    <section class="w-full p-6 prose">
        <h1>Edit Order</h1>
        <form th:action="@{'/admin/customerOrders/edit/' + ${customerOrder.id}}" method="post">
            <div class="form-control w-full mb-4">
                <label class="flex flex-col justify-start sm:flex-row sm:justify-between select-none py-2 px-0.5" for="user">
                    <span class="label-text font-bold">User</span>
                </label>
                <select id="user" name="user" th:field="*{users}" class="select select-bordered w-full">
                    <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.email}"></option>
                </select>
            </div>
            <div class="form-control w-full mb-4">
                <label class="flex flex-col justify-start sm:flex-row sm:justify-between select-none py-2 px-0.5" for="products">
                    <span class="label-text font-bold">Products</span>
                </label>
                <select id="products" name="products" multiple th:field="*{products}" class="select select-bordered w-full">
                    <option th:each="product : ${products}" th:value="${product.id}" th:text="${product.name}"></option>
                </select>
            </div>
            <div class="form-control w-full mb-4">
                <label class="flex flex-col justify-start sm:flex-row sm:justify-between select-none py-2 px-0.5" for="totalAmount">
                    <span class="label-text font-bold">Total Amount</span>
                </label>
                <input type="text" id="totalAmount" name="totalAmount" th:field="*{customerOrder.totalAmount}" class="input input-bordered w-full" />
            </div>
            <button type="submit" class="btn btn-primary text-white">Save</button>
        </form>
    </section>
</div>
</body>
</html>