<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">
<body>
<div layout:fragment="adminContent">
    <section class="w-full p-6">
        <h1>Edit User</h1>
        <form  th:object="${userDto}" method="post">
            <div class="form-control w-full mb-4">
                <label class="flex flex-col justify-start sm:flex-row sm:justify-between select-none py-2 px-0.5" for="firstName">
                    <span class="label-text font-bold">* First Name</span>
                </label>
                <input type="text" id="firstName" name="firstName" placeholder="Enter First Name" th:field="*{firstName}" class="input input-bordered w-full" required />
            </div>
            <div class="form-control w-full mb-4">
                <label class="flex flex-col justify-start sm:flex-row sm:justify-between select-none py-2 px-0.5" for="lastName">
                    <span class="label-text font-bold">* Last Name</span>
                </label>
                <input type="text" id="lastName" name="lastName" placeholder="Enter Last Name" th:field="*{lastName}" class="input input-bordered w-full" required />
            </div>
            <div class="form-control w-full mb-4">
                <label class="flex flex-col justify-start sm:flex-row sm:justify-between select-none py-2 px-0.5" for="email">
                    <span class="label-text font-bold">* Email</span>
                </label>
                <input type="email" id="email" name="email" placeholder="Enter Email" th:field="*{email}" class="input input-bordered w-full" required />
            </div>
            <div class="form-control w-full mb-4">
                <label class="flex flex-col justify-start sm:flex-row sm:justify-between select-none py-2 px-0.5" for="slug">
                    <span class="label-text font-bold">* Slug</span>
                </label>
                <input type="text" id="slug" name="slug" placeholder="Enter Slug" th:field="*{slug}" class="input input-bordered w-full" required />
            </div>
            <div class="form-control w-full mb-4">
                <label class="flex flex-col justify-start sm:flex-row sm:justify-between select-none py-2 px-0.5" for="password">
                    <span class="label-text font-bold">Password</span>
                </label>
                <input type="password" id="password" name="password" placeholder="Enter Password" th:field="*{password}" class="input input-bordered w-full" />
            </div>
            <button type="submit" class="btn btn-primary text-white cursor-auto">Save</button>
        </form>
    </section>
</div>
</body>
</html>